<h1>Messages</h1>
<h4><%= current_user.name %>

<% if @messages.any? %>
  <ul>
  <% @messages.each do |message| %>
    <li><%= message.message.body %></li>
  <% end %>
  </ul>
<% else %>
<P>no messages</p>
<% end %>

<% if @messages.any? %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <% @messages.each do |message| %>
        <h5 class="card-title"><%= message.user.id %></h5>
        <p class="card-text"><%= message.message.body %></p>
        <% end %>
    </div>
  </div>
  <%end %>
