<h1>Messages</h1>
<h4><%= current_user.name %>
<hr>
<% if @messages.any? %>
  <%# <div class="card" style="width: 100%;"> %>
    
    <% @messages.each do |message| %>
    <div class="card card-shadow p-4">
        <p class="lead text-dark">Sender: <%= link_to message.message.sender.name, message_path(message.message) %></p>
        <hr>
        <p class="lead text-dark"><%= message.message.body %></p>
     </div>   
        <% end %>
    
<% else %>
<div class="card card-shadow p-4">
<p class="lead text-dark">You have no messages.</p>

</div>
<% end %>
<hr>
<h4><%= link_to 'New Message', new_message_path,  class: 'btn btn-danger'%></h4>

