<h1 class="text-white">Message</h1>
<hr>
<div class="card card-shadow p-4">
  <h4 class = 'lead text-dark'>From: <%= @message.sender.name %></h4>
  <hr>
  <h4 class = 'lead text-dark'>Body: <%= @message.body %></h4>
  <br>
  <%= link_to 'Reply', new_message_path,  class:"btn btn-light text-white", style:"background-color:#FB6376; width:8%" %>
</div>