<div>

  <h1 class="text-white display-4">Profile Page</h1>
  <hr>
  <div class='card card-shadow p-4'>
    <p class="lead text-dark">Name: <%= @user.name %></p>
    <p class="lead text-dark">Email: <%= @user.email %></p>
    <%= link_to 'Edit Password', edit_user_password_path(@user), class: "lead" %>
  </div>

</div>
