<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FB6376">
  <i class="fas fa-drumstick-bite"></i>
  <a class="navbar-brand" href="#">dinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Friends</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Explore</a>
      </li>
    </ul>
  </div>
      <% if user_signed_in? %>
        <div class="navbar-nav ml-auto">
          <%= link_to current_user.email, class:'nav-link' %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'homepage-nav-link' %>
        </div>
      <% else %>
        <div class="navbar-nav ml-auto">
          <%= link_to "Sign In", new_user_session_path, class:'nav-link'%> |
          <%= link_to "Sign Up", new_user_registration_path, class:'nav-link'%> 
        </div>
      <% end %> 
</nav>