
<div class="jumbotron">
  <%= image_tag('dinder_logo.png', class: 'logo') %>
  <p> Dining with Friends | Make Decisions & Get Food </p>
</div>

<% if @user %>
  <div class='text-center'>
    
    <button class='btn btn-lg' style='background-color: #A8D0DB; color:#FB6376'><%= link_to "Let's Dinder", new_dinder_path %></button>

  </div>
<% end %>