<div class='dinder-new-wrapper'>
  <p>Choose a city & a friend for your Dinder, yo</p>
    <form class="form" action='/dinders/dinder' method='get'>
      <select name="city" id="city">
        <option value=286>Portland</option>
        <option value=279>Seattle</option>
        <option value=10614>Beaverton</option>
        <option value=1240>Spokane</option>
      </select>
      <br>
        
      <h2>Checkboxes</h2>
      <div class="inputGroup">
        <% User.all.each do |friend| %>
          <input type="checkbox" name="user_ids[]" id="user_ids_" value=<%= friend.id %>/>
          <label><%= friend.name %><br></label>
        <% end %>
      </div>
      
      <%= submit_tag 'Submit' %>
    </form>
</div>